<md-subheader>My TV Programs</md-subheader>

<md-content layout-padding>
  <p ng-if="!tvPrograms.length">You have no TV programs in your list.</p>
</md-content>

<md-content layout-padding ng-if="tvPrograms.length">  
  <h3>
    {{tvPrograms.length}}
    <ng-pluralize count="tvPrograms.length" when="{'1':'program','other':'programs'}"></ng-pluralize>
    in your list
  </h3>

  <tv-programs-list tv-programs="tvPrograms" can-remove="::true" on-remove="removeFromMyList($tvProgram)"></tv-programs-list>
</md-content>