<md-list>
  <md-list-item ng-class="{'md-2-line': !showEpisode, 'md-3-line': showEpisode}" ng-repeat="tvProgram in tvPrograms">
    <img ng-src="{{tvProgram.show.image.medium}}" class="md-avatar" alt="{{tvProgram.show.name}}" />
    <div class="md-list-item-text" layout="column">
      <h3>
        {{tvProgram.show.name}}
        <span class="stars">
          <ng-md-icon icon="star" size="16"></ng-md-icon>
          {{tvProgram.show.rating.average | number: 2}}
        </span>
        <md-button ng-if="canRemove" class="md-primary" aria-label="Remove from My List" ng-click="remove(tvProgram)">
          <ng-md-icon icon="remove_circle_outline"></ng-md-icon>
        </md-button>
        <small ng-if="tvProgram.inMyList">In your list!</small>
        <md-button ng-if="canAdd && !tvProgram.inMyList" class="md-primary" aria-label="Add to My List" ng-click="add(tvProgram)">
            <ng-md-icon icon="add_circle_outline"></ng-md-icon>
          </md-button>
      </h3>
      <h2 ng-if="showEpisode">Season {{tvProgram.season}} Episode {{tvProgram.number}}: {{tvProgram.name}}</h2>
      <div ng-if="!showEpisode">{{tvProgram.show.summary | stripHTML}}</div>
      <div ng-if="showEpisode">{{tvProgram.summary | stripHTML}}</div>
    </div>
  </md-list-item>
</md-list>