<md-subheader>Search TV Programs</md-subheader>

<md-content layout-padding>
  <md-input-container layout="row" id="search">
    <label>Query</label>
    <input id="query" type="text" ng-model="model.query" ng-change="service.search()" ng-model-options="{debounce:500}" />
  </md-input-container>
</md-content>

<md-content layout-padding ng-if="service.queryData.total_results > 0">
  <h3>
    Found {{service.queryData.total_results}}
    <ng-pluralize count="service.queryData.total_results" when="{'1':'program','other':'programs'}"></ng-pluralize>
  </h3>

  <md-list ng-if="service.queryData.results.length">
    <md-list-item class="md-2-line" ng-repeat="tvProgram in service.queryData.results">
      <img ng-src="https://image.tmdb.org/t/p/w185{{tvProgram.poster_path}}" class="md-avatar" alt="{{tvProgram.original_name}}" />
      <div class="md-list-item-text" layout="column">
        <h3>
          {{tvProgram.original_name}}
          <span class="stars">
            <ng-md-icon icon="star" size="16"></ng-md-icon>
            {{tvProgram.popularity | number: 2}}
          </span>
          <small ng-if="tvProgram.inMyList">In your list!</small>
          <md-button class="md-primary" aria-label="Add to My List" ng-click="addToMyList(tvProgram)" ng-if="!tvProgram.inMyList">
            <ng-md-icon icon="add_circle_outline"></ng-md-icon>
          </md-button>
        </h3>
        <p>{{tvProgram.overview}}</p>
      </div>
    </md-list-item>
  </md-list>

  <load-more service="service"></load-more>
</md-content>