#shows
  padding-top: 58px
#spinner
  width: 450px
  height: 500px
p
  padding: 16px
  padding-right: 48px

.avatar
  width: 16px
  height: 24px
  padding-right: 8px
  margin-right: 16px
  border-radius: 12px
  
.mat-badge
  bottom: -8px