<div id="shows">
  <div id="spinner" *ngIf="busy" fxLayout="row" fxLayoutAlign="center center">
    <mat-progress-spinner
        color="accent"
        mode="indeterminate">
    </mat-progress-spinner>
  </div>
  <div *ngIf="!busy && shows.length > 0">
    <mat-accordion multi>
      <mat-expansion-panel *ngFor="let show of shows">
        <mat-expansion-panel-header>
          <mat-panel-title >
            <div class="avatar" [ngStyle]="show.avatar"></div>
            <span *ngIf="show.nextEpisode" matBadge="{{show.nextEpisode.daysToGo}}" matBadgeSize="small">{{show.name}}</span>
            <span *ngIf="!show.nextEpisode">{{show.name}}</span>

          </mat-panel-title>
          <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>

        <app-show-details [show]="show" [style]="'panel'"></app-show-details>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div *ngIf="!busy && shows.length == 0" fxLayout="row" fxLayoutAlign="end center">
    <p class="mat-h4">
      Nothing to see yet. Maybe add some?
      <mat-icon>call_made</mat-icon>
    </p>
  </div>
</div>